#第三方依赖（仅保留离线压缩包）
.third_party/*
!.third_party/*.zip

#构建产物
build/
build-*/
temp/
stage/

#通用忽略
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Testing/
.vs/
*.suo
*.user
*.obj
*.pdb
*.ipch
*.log

# reference 本地实验/临时工具，不进入仓库
/reference/
